@* Pages/Trains/Index.cshtml *@
@page
@model WebApplication3.Pages.Trains.IndexModel

@if (Model.Trains.Any())
{
@foreach (var train in Model.Trains)
    {
<div class="train-card">
    <h4>@train.Name</h4>
    <p>From: @train.From</p>
    <p>To: @train.To</p>
    <p>Departure: @train.DepartureTime</p>
</div>
    }
}